body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rotate-button {
    padding: 10px 20px;
    background-color: darkblue;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 2em;
    transition: background-color 0.3s ease;
    transition: transform 1s;
}

.rotate-button:hover {
    transform: rotate(360deg);
    background-color: red;
}
